
<h1> Holidays in {{countryName}}</h1>
<div class="year-switcher">
  @for (year of years; track year) {
    <button
      (click)="selectYear(year)"
      [class.active]="year === selectedYear">
      {{ year }}
    </button>
  }
</div>
<ul>
  @for (holiday of listOfHolidays; track holiday.name) {
    <li>
      <p class="holiday">{{ holiday.name | uppercase}}</p>
      <p>type: <span class="country">{{ holiday.types[0] | uppercase}}</span> </p>
      <p class="date">{{ holiday.date| date }}</p>
    </li>
  }
</ul>

<button (click)="backToHomePage()">Back to Home Page</button>
